body {
    font-family: Arial;
    background: #111;
    color: white;
    display: flex;
    justify-content: center;
    margin-top: 100px;
}

.container {
    width: 300px;
}

input,
textarea {
    width: 100%;
    margin: 10px 0;
    padding: 10px;
}

button {
    width: 100%;
    padding: 10px;
    background: #4CAF50;
    border: none;
    color: white;
    cursor: pointer;
}

.status {
    margin-top: 10px;
}

.status.success {
    color: lightgreen;
}

.status.error {
    color: red;
}